__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
.mypy_cache
.pytest_cache
.hypothesis
*.egg-info
dist
build
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
generated_nfts/images/*
generated_nfts/metadata/*
!generated_nfts/images/.gitkeep
!generated_nfts/metadata/.gitkeep
.env.local
.env.development
